<br><br>
<label for="">Select City</label>
<select class="form-select" aria-label="Default select example" #options>
    <option selected>Open this select menu</option>
    <option  *ngFor="let items of dataSource" value="{{items.cityName}}">{{items.cityName}}</option>
  </select><br>
  <button type="button" class="btn btn-primary" (click)="onSubmit(options)">Submit</button>

  <!-- <p>
    Today's item: {{item}}
  </p> -->

  <app-result *ngIf="selectedValue" [city]="selectedCity" [state]="selectedState"></app-result>
